@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.blog-post-content h1 {
	@apply text-red-500 mb-5;
}

.blog-post-content p {
	@apply mb-1 text-gray-600;
}

.blog-post-content ul {
	@apply pl-10 list-disc;
}
